<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="site">
    <header id="navigationId"></header>
    <h1>Add Song</h1>
    <hr>

    <form th:action="@{saveSong}" th:object="${song}" method="post">
        <input id="title" type="text" name="title"  placeholder="Title">
        <input id="composer" type="text" name="composer" placeholder="Composer">
        <input id="key" type="text" name="key" placeholder="Key">
        <input id="tuning" type="text" name="tuning" placeholder="Tuning">
        <input id="tempo" type="number" min="0" max="500" value="0" name="tempo" placeholder="Tempo"><br>
        <input id="capo" type="number" min="0" max="12" name="capo" placeholder="Capo">
        <input id="genre" type="text" name="genre" placeholder="Genre">
        <input id="duration" type="time" min="00:00:00" max="02:00:00"  name="duration" placeholder="Duration">
        <input id="state" type="number" min="0" max="2" name="state" value="0" placeholder="State">
        <input id="threshold" type="number" min="0" max="6" name="threshold" value="0" placeholder="Threshold">
        <input id="alert" type="checkbox" value="false" name="alert" placeholder="Alert">
        <input id="submit" type="submit" value="Save">
    </form>
    <footer id="footerId"></footer>
</div>
</body>
</html>