<!DOCTYPE html>
<html lang="en" xmlns: th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <header id="navigationId"></header>
    <h1>Add Song</h1>
    <hr>

    <form th:action="@{saveSong}" th:object="${song}" method="post">
        <div class="form-grid">

            <label for="title">Title</label>
            <input id="title" type="text" th:field="*{title}" />

            <label for="composer">Composer</label>
            <input id="composer" type="text" th:field="*{composer}" />

            <label for="keyId">Key</label>
            <select name="keyStat" id="keyId" th:field="*{key}">
                <option th:each="key : ${keys}" th:value="${keys.indexOf(key)}" th:text="${key}"></option>
            </select>

            <label for="tuningId">Tuning</label>
            <select id="tuningId" th:field="*{tuning}">
                <option th:each="tuning : ${tunings}" th:value="${tuning.getId()}"
                        th:text="${tuning.getTitle()}"></option>
            </select>

            <label for="capoId">Capo</label>
            <select id="capoId" th:field="*{capo}">
                <option th:each="capo_position : ${capoPositions}"
                        th:value="${capoPositions.indexOf(capo_position)}" th:text="${capo_position}"></option>
            </select>

            <label for="tempo">Tempo</label>
            <input id="tempo" type="number" min="0" th:field="*{tempo}" th:onkeypress="return (event.charCode !=8 &&
                event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">

            <label for="genreId">Genre</label>
            <select id="genreId" th:field="*{genre}">
                <option th:each="genre : ${genres}" th:value="${genre.getId()}"
                        th:text="${genre.getTitle()}"></option>
            </select>

            <label for="duration">Duration</label>
            <input id="duration" type="text" th:field="*{duration}" />

            <label for="stateId">State</label>
            <select name="statName" id="stateId" th:field="*{state}">
                <option th:each="state : ${states}" th:value="${states.indexOf(state)}" th:text="${state}"></option>
            </select>

            <label for="threshold">Threshold</label>
            <input id="threshold" type="number" th:field="*{threshold}" />

            <label for="alert">Alert</label>
            <input id="alert" type="text" th:value="*{alert}"/>

<!--            <label for="lastPerformedDate">Last Performed</label>-->
<!--            <input id="lastPerformedDate" type="text" th:value="*{lastPerformedDate}" readonly />-->

            <label for="count">Count</label>
            <input id="count" type="number" th:field="*{count}" />

            <label for="submit"></label>
            <input id="submit" type="submit" value="Save">

        </div>
    </form>
    <footer id="footerId"></footer>
</div>
<div id="scriptsId"></div>
</body>
</html>