<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <link rel=”stylesheet” href=”navigation. css”>
    <!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <title>Title content</title>
</head>
<body>
<div id="navigationId"></div>
<div id="content"></div>
<div align="center">
    <h1 id="welcome">Welcome to Repertoire</h1>

</div>
<footer id="footerId">Footer goes here</footer>
</body>
</html>