<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="projectHeadId">
    <meta charset="UTF-8"/>
    <title>Practice</title>
</head>
<header id="navigationId"></header>

<body>
<h1>Practice</h1>
<hr/>

<div class="project-layout">
    <!-- LEFT: Projects list -->
    <section class="project-left">
        <!--        <div th:if="${practiceSets == null or practiceSets.isEmpty()}">-->
        <div>
            <label for="chooseRandom">Choose a number of random songs to practice</label><br>
            <button class="button" id="chooseRandom" th:onclick="onRandomClick()" type="button">Random</button>
            <hr/>
            <label for="choosePracticeSet">Choose a Practice Set to practice</label>
            <button class="button" id="choosePracticeSet" type="button">Practice Set</button>
            <hr/>
            <label for="chooseFromAll">Choose songs from all songs to practice</label>
            <!--                <button class="button" type="button" id="chooseFromAll" th:onclick="@{/songs}">Choose songs</button>-->
            <button class="button" id="chooseFromAll" th:onclick="@{/practice/songs/}" type="button">Choose songs
            </button>

        </div>
        <!-- Hidden forms for movement -->
        <form id="getRandomSongs" method="post" style="display:none;" th:action="@{/practice/random}">
            <input id="numberOfRandomSongs" name="numberOfRandomSongs" th:value="${numberOfRandomSongs}" type="hidden"/>
        </form>
    </section>

    <section class="project-right">
        <div th:if="${songs != null and !songs.isEmpty()}">

            <table>
                <thead>
                <tr>
                    <th th:text="|Total: ${total}|">Total:</th>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${songs == null or songs.isEmpty()}">
                    <td class="muted">No Songs</td>
                </tr>

                <tr th:each="song, iStat : ${songs}">
                    <td>
                        <a th:href="@{/songs(id=${song.id})}"
                           th:text="${(iStat.index + 1) + ' '+ song.title}">
                            Song title
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>
</div>

<footer id="footerId">Footer goes here</footer>
<div id="practiceScriptsId"></div>
</body>
</html>