<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="projectHeadId">
    <meta charset="UTF-8"/>
    <title>Practice</title>
</head>
<header id="navigationId"></header>

<body>
<h1>Practice</h1>
<hr/>

<div class="project-layout">
    <!-- LEFT: Projects list -->
    <section class="project-left">
        <div>
            <label for="chooseRandom">Choose a number of random songs to practice</label><br>
            <button class="button" id="chooseRandom" th:onclick="onRandomClick()" type="button">Random</button>
            <hr/>
            <label for="choosePracticeSet">Choose a Practice Set to practice</label>
            <button class="button" id="choosePracticeSet" th:onclick=|window.location.href='@{/practice/practiceSets}'| type="button">Practice Set</button>
            <hr/>
            <label for="chooseFromAll">Choose songs from all songs to practice</label>
            <button class="button" id="chooseFromAll" th:onclick=|window.location.href='@{/practice/songs}'| type="button">Choose songs
            </button>
        </div>
        <!-- Hidden forms for movement -->
        <form id="getRandomSongs" method="post" style="display:none;" th:action="@{/practice/random}">
            <input id="numberOfRandomSongs" name="numberOfRandomSongs" th:value="${numberOfRandomSongs}" type="hidden"/>
        </form>
    </section>

    <section class="project-right">
        <div th:if="${songs != null and !songs.isEmpty()}">
            <table>
                <thead>
                <tr>
                    <th th:text="|Total: ${total}|">Total:</th>
                </tr>
                </thead>

                <tbody>
                <tr th:if="${songs == null or songs.isEmpty()}">
                    <td class="muted">No Songs</td>
                </tr>

                <tr th:each="song, iStat : ${songs}">
                    <td>
                        <a th:href="@{/songs(id=${song.id})}"
                           th:text="${(iStat.index + 1) + ' '+ song.title}">
                            Song title
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${practiceSets != null and !practiceSets.isEmpty()}">
            <br>
            <table>
                <thead>
                <tr>
                    <th>PracticeSet Title</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${practiceSets}" th:classappend="${p.id == selectedPracticeSetId} ? 'selected' : ''">
                    <td>
                        <a th:href="@{/practiceSet/show(id=${p.id})}" th:text="${p.title}">Practice Set title</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${practiceSets == null or practiceSets.isEmpty()}">
            <h4>Create your first Practice Set</h4>
        </div>
    </section>
</div>

<footer id="footerId">Footer goes here</footer>
<div id="practiceScriptsId"></div>
</body>
</html>