<!DOCTYPE html>
<html lang="en">
<head id="projectHeadId">
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
<div>
    <header id="navigationId"></header>
    <h1>Settings</h1>
    <hr/>

    <div class="project-layout">
        <!-- LEFT: Projects list -->
        <section class="project-left">
            <div>
                <label for="manageTunings">Add, Edit or Delete Tunings</label>
                <button class="button" type="button" id="manageTunings"
                        th:onclick="|window.location.href='/settings/manageTunings'|">Tunings
                </button>
                <hr/>
                <label for="manageGenres">Add, Edit or Delete Genres</label>
                <button class="button" type="button" id="manageGenres" th:onclick="|window.location.href='/settings/manageGenres'|">Genres</button>
                <hr/>
                <!--                <label for="chooseFromAll">Choose songs from all songs to practice</label>-->
                <!--                <button class="button" type="button" id="chooseFromAll">Choose songs</button>-->

            </div>

        </section>

        <section class="project-right">
<!--            <h3 th:text="${editMode}">Songs in project</h3>-->
            <div th:if="${(itemsToManage == null or itemsToManage.isEmpty())}" class="muted">
                Nothing to manage.
            </div>
            <div th:if="${itemsToManage != null and !itemsToManage.isEmpty()}">
                <br>
                <table>
                    <thead>
                    <tr>
                        <th th:text="${editMode}">Edit mode</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p : ${itemsToManage}">
<!--                        th:classappend="${p.id == selectedPracticeSetId} ? 'selected' : ''">-->
                        <td>
                            <a href=""  th:text="${p.title}">manage title</a>
                        </td>
                        <td style="text-align:right;">
                            <a th:href="@{/settings/delete/{id}(id=${p.id})}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${itemsToManage == null or itemsToManage.isEmpty()}">
                <h4 th:text="${editMode}">Create your first Practice Set</h4>
            </div>
        </section>
    </div>
    <footer id="footerId">Footer goes here</footer>
</div>
<div id="scriptsId"></div>
</body>
</html>