<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8">
    <title>Songs</title>
</head>
<body>
<div >
    <header id="navigationId"></header>
    <h1>Songs</h1>
    <hr>

    <table>
        <thead>
        <tr>
            <th> Title </th>
            <th> Author </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${songs.empty}">
            <td colspan="2"> No Songs </td>
        </tr>
        <tr th:each="song : ${songs}">
            <td><span th:text="${song.title}"> Title </span></td>
            <td><span th:text="${song.composer}"> Composer </span></td>
        </tr>
        </tbody>
    </table>
    <footer id="footerId">Footer goes here</footer>
</div>
</body>
</html>