<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head id="headId">
    <meta charset="UTF-8" />
    <title>Songs</title>
</head>
<header id="navigationId"></header>

<body>
<h1>Songs</h1>
<hr />

<div class="song-layout">
    <!-- LEFT: Songs list -->
    <section class="song-left">
<!--        <h2>List</h2>-->

        <table>
            <thead>
            <tr>
                <th>Title</th>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${songs == null or songs.isEmpty()}">
                <td class="muted">No Songs</td>
            </tr>

            <tr th:each="song : ${songs}">
                <td>
                    <a th:href="@{/songs(id=${song.id})}"
                       th:text="${song.title}">
                        Song title
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>

    <!-- RIGHT: Song details -->
    <section class="song-right">
        <h4>Details</h4>

        <div th:if="${selectedSong == null}" class="muted">
            Click a song on the left to see its details.
        </div>

        <form action="#" th:if="${selectedSong != null}"  th:object="${selectedSong}" method="post">
            <div class="form-grid">

                <input id="id" type="hidden" th:field="*{id}" readonly />

                <label for="title">Title</label>
                <input id="title" type="text" th:field="*{title}" />

                <label for="composer">Composer</label>
                <input id="composer" type="text" th:field="*{composer}" />

                <label for="keyId"></label>
                <select id="keyId">
                    <option value="0">Key</option>
                    <option th:each="key : ${keys}"  th:text="${key}"></option>
                </select>

                <label for="tuningId"></label>
                <select id="tuningId">
                    <option value="0">Tuning</option>
                    <option th:each="tuning : ${tunings}" th:value="${tuning.getId()}" th:text="${tuning.getTuning()}"></option>
                </select>

                <label for="capoId"></label>
                <select id="capoId">
                    <option value="0">Capo</option>
                    <option th:each="pos : ${capo_positions}"  th:text="${pos}"></option>
                </select>

                <label for="tempo">Tempo</label>
<!--                <input id="tempo" type="number" th:field="*{tempo}" />-->
                <input id="tempo" type="number" min="0" th:field="*{tempo}" onkeypress="return (event.charCode !=8 && event.charCode ==0 || (event.charCode >= 48 && event.charCode <= 57))">

                <label for="genreId"></label>
                <select id="genreId">
                    <option value="0">Genre</option>
                    <option th:each="genre : ${genres}" th:value="${genre.getId()}" th:text="${genre.getTitle()}"></option>
                </select>

                <label for="duration">Duration</label>
                <input id="duration" type="text" th:field="*{duration}" />

                <label for="statedId"></label>
                <select id="statedId">
                    <option value="0">State</option>
                    <option th:each="state : ${states}"  th:text="${state}"></option>
                </select>

                <label for="periodId"></label>
                <select id="periodId">
                    <option value="0">Period</option>
                    <option th:each="p : ${thresholds}"  th:text="${p}"></option>
                </select>

                <label for="alert">Alert</label>
                <input id="alert" type="checkbox" th:checked="${alert}"/>

                <label for="lastPerformedDate">Last Performed</label>
                <input id="lastPerformedDate" type="text" th:value="*{lastPerformedDate}" readonly />

                <label for="count">Count</label>
                <input id="count" type="number" th:field="*{count}" readonly/>

                <input id="creationDate" type="hidden" th:value="*{creationDate}" readonly />

                <input id="modificationDate" type="hidden" th:value="*{modificationDate}" readonly /><br>

                <input type="submit" name="update" value="Update">
                <input id="delete" type="submit" value="Delete" th:formaction="@{deleteSong}" />
            </div>
        </form>
    </section>
</div>

<footer id="footerId">Footer goes here</footer>
</body>
</html>