<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/page.css}" rel="stylesheet" />
    <link th:href="@{/css/all.css}" rel="stylesheet" />
    <link th:href="@{/css/navigation.css}" rel="stylesheet" />
    <link th:href="@{/css/table.css}" rel="stylesheet" />
    <link th:href="@{/css/form_grid.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <title id="title">Repertoire</title>
</head>
<body>

</body>
</html>