<div id="navigationId" class="navbar">
    <img src="images/Repertoire_node_key.png" height="40" width="15" alt=""/>
    <a href="/">Home</a>
    <div id="songsButton" class="dropdown">
        <button class="dropbtn" onclick="showFunction('songsDropdown')">Songs
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="songsDropdown">
            <a href="songs">Songs</a>
            <a href="addSong">Add Song</a>
            <a href="importSongs">Import</a>
        </div>
    </div>
    <a href="/projects">Projects</a>
    <div id="practiceButton" class="dropdown">
        <button class="dropbtn" onclick="showFunction('practiceDropdown')">Practice
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="practiceDropdown">
            <a href="practiceSets">Create Practice Set</a>
            <a href="practice">Practice</a>
<!--            <a href="importSongs">Import</a>-->
        </div>
    </div>
<!--    <a href="/practiceSets">Practice</a>-->
    <a href="#settings">Settings</a>
</div>
