
<div id="navigationId" class="navbar">
    <a href="/">Home</a>
<!--    <a href="songs">Songs</a>-->
    <div id="songsButton" class="dropdown">
        <button class="dropbtn" onclick="songsFunction()">Songs
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="songsDropdown">
            <a href="songs">Songs</a>
            <a href="addSong">Add Song</a>
            <a href="importSongs">Import</a>
        </div>
    </div>
    <a href="projects">Projects</a>
    <a href="#practice">Practice</a>
    <a href="#settings">Settings</a>
<!--    <div class="dropdown">-->
<!--        <button class="dropbtn" onclick="myFunction()">Dropdown-->
<!--            <i class="fa fa-caret-down"></i>-->
<!--        </button>-->
<!--        <div class="dropdown-content" id="myDropdown">-->
<!--            <a href="#">Link 1</a>-->
<!--            <a href="#">Link 2</a>-->
<!--            <a href="#">Link 3</a>-->
<!--        </div>-->
<!--    </div>-->
</div>
