<div id="navigationId" class="navbar">
    <img src="/images/Repertoire_node_key.png" height="40" width="15" alt=""/>
    <a href="/">Home</a>
    <div id="songsButton" class="dropdown">
        <button class="dropbtn" onclick="showFunction('songsDropdown')">Songs
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="songsDropdown">
            <a href="/songs">Songs</a>
            <a href="/addSong">Add Song</a>
            <a href="/importSongs">Import</a>
        </div>
    </div>
    <a href="/projects">Projects</a>
    <a href="/practiceSet/">Practice Sets</a>
    <div id="practiceButton" class="dropdown">
        <button class="dropbtn" onclick="showFunction('practiceDropdown')">Practice
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content" id="practiceDropdown">
            <a th:href="'javascript:onRandomClick()'">Random</a>
            <a href="/practice/practiceSets">Practice Set</a>
            <a href="/practice/songs">Choose Songs</a>
        </div>
    </div>
    <a href="settings">Settings</a>
    <!-- Random Practice Settings ... a bit ugly! -->
    <script type="text/javascript" th:src="@{/js/practice.js}"></script>
    <!-- Hidden forms for movement -->
    <form id="getRandomSongs" method="post" style="display:none;" th:action="@{/practice/random}">
        <input id="numberOfRandomSongs" name="numberOfRandomSongs" th:value="${numberOfRandomSongs}" type="hidden"/>
    </form>
</div>
