<html lang="en">
<head id="projectHeadId">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:href="@{/css/page.css}" rel="stylesheet" />
    <link th:href="@{/css/project.css}" rel="stylesheet" />
    <link th:href="@{/css/navigation.css}" rel="stylesheet" />
    <link th:href="@{/css/table.css}" rel="stylesheet" />
    <link th:href="@{/css/form_grid.css}" rel="stylesheet" />
    <link th:href="@{/css/footer.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/navigation.js}"></script>
    <script type="text/javascript" th:src="@{/js/projects.js}"></script>
    <script src="https://kit.fontawesome.com/2807912c9a.js" crossorigin="anonymous"></script>
    <title id="title">Repertoire</title>
</head>
<body>

</body>
</html>