.footer {
    overflow: hidden;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    justify-content: center;
    height: 50px;
    bottom: 0;
    left: 0;
    background-color: #474044;
    padding: 8px;

}
