.form-grid {
    display: grid;
    grid-template-columns: max-content 220px max-content max-content;
    /*grid-template-columns: 160px 1fr;*/
    gap: 10px 14px;
    max-width: 400px;
}
.form-grid label {
    font-weight: 400;
    display: inline-block;
    padding-top: 8px;
    /*text-align: right;*/
}
.form-grid input {
    width: 100%;
    padding: 6px 8px;
    box-sizing: border-box;
}
.muted {
    color: #666;
}