table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    /*width: 100%;*/
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    height:400px;
    overflow-y:scroll;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/*table tbody {*/
/*    display: table;*/
/*    width: 100%;*/
/*}*/

/*table {*/
/*    display: block;*/
/*    overflow-x: auto;*/
/*    white-space: nowrap;*/
/*}*/

/*table tbody { height:300px; overflow-y:scroll; display:block; }*/
/*table thead { display:block; }*/