table {
    width: 100%;
    font-family: arial, sans-serif;
    overflow-x: hidden;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

thead th {
    height: 30px;
    text-align: left;
}

tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x:hidden ;
    border-block: 1px solid black;
}

thead {
    /* fallback */
}

tbody td, thead th {
    width: 100%;
    float: left;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
td:hover{
    background:lightblue;
}
td {
    padding: 8px 10px;
    border-bottom: 1px solid #ddd;
}